# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List open-source development environments for Data Science
* Getting started with Jupyter Notebook, R Studio, GitHub

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [2]:
200/60

3.3333333333333335

## Author
Manoj Bhole